<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>URL</servlet-name>
        <servlet-class>by.belstu.servlet.UrlServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>URL</servlet-name>
        <url-pattern>/url</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CCCRequest</servlet-name>
        <servlet-class>by.belstu.servlet.CccRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CCCRequest</servlet-name>
        <url-pattern>/cccrequest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CCCSession</servlet-name>
        <servlet-class>by.belstu.servlet.CccSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CCCSession</servlet-name>
        <url-pattern>/cccsession</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>URL1</param-name>
        <param-value>http://localhost:8080/Lab6/first.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>URL2</param-name>
        <param-value>http://localhost:8080/Lab6/second.jsp</param-value>
    </context-param>
</web-app>